<%= form_with(model: energy_usage, local: true) do |form| %>
  <% if energy_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(energy_usage.errors.count, "error") %> prohibited this energy_usage from being saved:</h2>

      <ul>
        <% energy_usage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :energy_usages %>
    <%= form.number_field :energy_usages %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
